AddType application/manifest+json .webmanifest
AddType application/javascript .js
AddType image/png .png

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^v2/?$ / [R=302,L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "^(manifest\.webmanifest|sw\.js)$">
    Header set Cache-Control "no-cache, must-revalidate"
  </FilesMatch>
</IfModule>
